@model IEnumerable<Patient>

@{
    Layout = "_Layout";
    ViewBag.Title = "Details";
}



@foreach (Patient item in Model)
{
    <div class="jumbotron text-center">
        <h3> Detail of the Patient</h3>
        <h1 class="text-info"> @item.Name </h1>

    </div>
    <div class="card-body" style="margin-left:80px">
        <p> Name: @item.Name </p>
        <p> Registered time: @item.CurrentDateAndTime </p>
        <p> Age: @item.Age </p>
        <p> Address: @item.Address </p>
        <p> Occupation: @item.Occupation </p>
        <p> Has insurance: @(item.Insurance ? "Yes" : "No") </p>
        <p> Operated Before: @(item.Operation ? "Yes" : "No") </p>
        <p> Marital Status: @item.Marital </p>
    </div>
}