@model IEnumerable<Patient>

@{
    Layout = "_Layout";
    ViewBag.Title = "List";
}

<h1> List of All Patients</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Registered Date</th>
                <th> Age </th>
                <th> Address </th>
                <th> Occupation </th>
                <th> HasInsurance? </th>
                <th> IsOperated? </th>
                <th> Marital Status </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient item in Model)
            {
                <tr>
                    <td> @item.Name </td>
                    <td> @item.CurrentDateAndTime </td>
                    <td> @item.Age </td>
                    <td> @item.Address </td>
                    <td> @item.Occupation </td>
                    <td> @item.Insurance </td>
                    <td> @item.Operation </td>
                    <td> @item.Marital </td>
                </tr>
            }
        </tbody>
    </table>
</div>