@model IEnumerable<Patient>

@{
    Layout = "_Layout";
    ViewBag.Title = "List";
}

<h1 class="jumbotron text-center"> List of All Patients</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Registered Date</th>
                <th> Age </th>
                <th> Address </th>
                <th> Occupation </th>
                <th> Has Insurance? </th>
                <th> Is Operated? </th>
                <th> Marital Status </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient item in Model)
            {
                
                //@await Html.PartialAsync("Details", item)
                
                            
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id=@item.Name> @item.Name </a>
                </td>
                <td> @item.CurrentDateAndTime </td>
                <td> @item.Age </td>
                <td> @item.Address </td>
                <td> @item.Occupation </td>

                <td> @(item.Insurance ? "Yes" : "No") </td>
                <td> @(item.Operation ? "Yes" : "No") </td>

                <td> @item.Marital </td>
            </tr>
            }
        </tbody>
    </table>
</div>