@model Recipe
@{
    
    ViewBag.Title = "View Selected Recipe";
}


<h2 class="jumbotron justify-content-md-center title-primary">@Model.Name recipe's detail</h2>
<br />
<div class="container ">
    <div class="card mycard">        
            <div class="details">


                <label class="lbl lbl-primary lbl-block"><span>Chef's Author</span></label>
                <p> @Model.Chef</p>

                <label class="lbl lbl-primary lbl-block"><span>Description</span></label>
                <p><span class="line-breaks">@Model.Description </span></p>

                <label class="lbl lbl-primary lbl-block"><span>Preparation Time</span></label>
                <p>@Model.PreparationTime min</p>

                <label class="lbl lbl-primary lbl-block"><span>Ingredients</span></label>
                <p><span class="line-breaks">@Model.Ingredient </span></p>


            
        </div>
    </div>
</div>
