@model Recipe
@{
    Layout = "_Layout";
    ViewBag.Title = "View Selected Recipe";
}


<h2 class="jumbotron justify-content-md-center lbl-primary">@Model.Name recipe's detail</h2>
<br />
<div class="container ">
    <div class="card">
        <div class="container-fliud">
            <div class="details col-md-6">


                <label class="lbl lbl-primary lbl-block"><span>Chef's Author</span></label>
                <p> @Model.Chef</p>

                <label class="lbl lbl-primary lbl-block"><span>Description</span></label>
                <p>@Model.Description</p>

                <label class="lbl lbl-primary lbl-block"><span>Preparation Time</span></label>
                <p>@Model.PreparationTime min</p>

                <label class="lbl lbl-primary lbl-block"><span>Ingredients</span></label>
                <p>@Model.Ingredient</p>


            </div>
        </div>
    </div>
</div>
