@model IEnumerable<Recipe>
@{
    Layout = "_Layout";
    ViewBag.Title = "View Selected Recipe";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-content">
                <h3>Chef's Author</h3>
                <p> Raphael Molinaro</p>
                <h3>Chef's Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id volutpat enim, eget volutpat nunc. Quisque tristique neque nec nibh varius auctor. Curabitur imperdiet quam eget nunc pellentesque, non interdum ante aliquam. Nunc pellentesque nec arcu sit amet posuere. Etiam convallis euismod erat, id consequat mi interdum et. Ut ornare luctus ex quis ornare. Curabitur quis eros a dolor eleifend pharetra a id lacus. Maecenas lobortis erat et euismod vehicula.  </p>

                <h3>Preparation Time</h3>
                <p>15 minutes</p>

                <h3>Ingredients</h3>
                <ul>
                    <li>1 pound (454 grams) cooked chicken breast or rotisserie chicken, shredded (about 4 cups shredded)</li>
                    <li>1/2 cup diced red onion (about 1/2 medium red onion or 60 grams)</li>
                    <li>1/2 cup diced apple (about 1/2 small apple or 75 grams)</li>
                    <li>2/3 cup (100 grams) quartered or halved grapes</li>
                    <li>2/3 cup (165 grams) plain 2% fat Greek yogurt (certified gluten-free if necessary)</li>
                    <li>2 tablespoon freshly squeezed lemon juice, or more, to taste</li>
                    <li>1/2 teaspoon garlic powder</li>
                    <li>Salt and pepper, to taste</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*<div>
        <div>
            @foreach (var item in Model)
            {
                <div>
                    <h6>@Html.DisplayFor(modelItem => item.Name)d</h6>
                    <p> Chef: </p>
                    <p> @Html.DisplayFor(modelItem => item.Chef) </p>
                    <p> Preparation Time: </p>
                    <p> @Html.DisplayFor(modelItem => item.PreparationTime) </p>
                    <p> Ingredient </p>
                    <p> @Html.DisplayFor(modelItem => item.Ingredient) </p>
                    <p> Description </p>
                    <p> @Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            }
        </div>
</div>*@