@model List<Student>
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "List of Student";
}

    <table class="table table-primary">
        
        <tr>
            <th> Firstname</th>
            <th> LastName</th>
            <th> Email</th>
            <th> Gpa</th>
            <th> FullTime</th>
            <th> CourseCode</th>
            <th> StudentID</th>
        </tr>

        @foreach (Student st in Model)
        {
         <tr>
                <td> @st.Firstname</td>
                <td> @st.LastName</td>
                <td> @st.Email</td>
                <td> @st.Gpa</td>
                <td> @st.FullTime</td>
                <td> @st.CourseCode</td>
                <td> @st.StudentID</td>
         </tr>
        
        }
        

    </table>


